{# @var forecast \Entity\WeatherForecastList #}
{% include 'weather/current.html.twig' %}

<div class="info">
    <div class="currentCondition">
        {{ forecast.current.type }}
    </div>
    <div class="todayCast">
        <span class="max">{{ forecast.current.maxTemperature }}&deg;C</span>
        <span class="min">{{ forecast.current.minTemperature }}&deg;C</span>
    </div>
</div>

<div class="weekForecast">
    {% for weatherDay in  forecast.upcoming %}
        <div class="day">
            <div class="smallIcon icon_{{ weatherDay.type }}"></div>
            <div class="max">{{ weatherDay.maxTemperature }}&deg;C</div>
        </div>
    {% endfor %}
</div>
