{# @var forecast \Entity\WeatherForecastList #}
{% include 'weather/weathericon.html.twig' %}

<div class="weatherInfo">
    <div class="weatherCurrentCondition">
        {{ forecast.current.type }}
    </div>
    <div class="weatherTodayCast">
        <span class="max">{{ forecast.current.maxTemperature }}&deg;C</span>
        <span class="min">{{ forecast.current.minTemperature }}&deg;C</span>
    </div>
</div>

<div class="weekForecast">
    {% for weatherDay in  forecast.upcoming %}
        <div class="weatherDay">
            <div class="weatherIcon icon_{{ weatherDay.type }}"></div>
            <div class="weatherDayMax">{{ weatherDay.maxTemperature }}&deg;C</div>
        </div>
    {% endfor %}
</div>
