{% extends "base.html.twig" %}

{% block title %}Screensaver{% endblock %}

{% block header %}
    <script type="text/javascript">
        /** global: newsItems */
        var newsItems = [];
        {% for item in feedItems %}
            newsItems.push([
                "{{ item.feedName }}",
                "{{ item.title|striptags|e('js')  }}",
                "{{ item.description|truncate(120, true)|e('js') }}",
                "{{ item.color }}"
            ]);
        {% endfor %}
    </script>
{% endblock %}

{% block body %}
    <div class="screensaver--background notActive"></div>
    <div class="screensaver--background active"></div>
    <div class="weather wow rollIn"></div>

    <div class="screensaver--newsticker hideOnStart">
        <div class="screensaver--newsticker-source hideOnStart" style="background-color:#{{ firstFeedItem.color }};">
            {{ firstFeedItem.feedName }}
        </div>
        <div class="screensaver--newsticker-title hideOnStart">
            {{ firstFeedItem.title }}
        </div>
        <div class="screensaver--newsticker-description hideOnStart">
            {{ firstFeedItem.description }}
        </div>
    </div>
    <div class="screensaver--time hideOnStart">
        {{ "now"|date("H:i") }}
    </div>
{% endblock %}
