{% extends "base.html.twig" %}

{% block title %}Screensaver{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/assets/css/screensaver.css?v={{ lastUpdate.css_screensaver }}">
    <link rel="stylesheet" href="/assets/css/weather.css">
    <script type="text/javascript" src="/assets/scripts/screensaver.js?v={{ lastUpdate.js_screensaver }}"></script>
{% endblock %}

{% block body %}

    <div class="screenSaverPage">
       <!-- <img src="https://source.unsplash.com/category/nature/3840x2160" class="screenSaver active" /> -->
        <div class="screenSaver active">
            <div class="activeNewsItem">
                <div class="newsTitle">
                    {{ firstFeedItem.title }}
                </div>

                <div class="newsDescription">
                    {{ firstFeedItem.description }}
                </div>
            </div>
        </div>
        <div class="screenSaver layer2 notActive">
            <div class="activeNewsItem">
                <div class="newsTitle">
                    {{ secondFeedItem.title }}
                </div>

                <div class="newsDescription">
                    {{ secondFeedItem.description }}
                </div>
            </div>
        </div>

        {% include 'welcome/weathericon.html.twig' %}
        <div class="temperature">
            {{ forecast.current.temperature }}&deg;C
        </div>
    </div>
{% endblock %}
