{% extends "base.html.twig" %}

{% block title %}Screensaver{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/assets/css/screensaver.css?v={{ lastUpdate.css_screensaver }}">
    <link rel="stylesheet" href="/assets/css/weather.css">
    <script type="text/javascript" src="/assets/scripts/screensaver.js?v={{ lastUpdate.js_screensaver }}"></script>
    <script type="text/javascript">
        var newsItems = new Array();
        {% for item in feedItems %}
            newsItems.push([
                "{{ item.title|striptags }}",
                "{{ item.description|truncate(120, true) }}"
            ]);
        {% endfor %}
    </script>
{% endblock %}

{% block body %}

    <div class="screenSaverPage">
        <div class="screenSaver active">
            <div class="activeNewsItem">
                <div class="newsTitle">
                    {{ firstFeedItem.title }}
                </div>

                <div class="newsDescription">
                    {{ firstFeedItem.description }}
                </div>
            </div>
        </div>
        <div class="screenSaver layer2 notActive">
            <div class="activeNewsItem">
                <div class="newsTitle">
                    {{ secondFeedItem.title }}
                </div>

                <div class="newsDescription">
                    {{ secondFeedItem.description }}
                </div>
            </div>
        </div>

        {% include 'welcome/weathericon.html.twig' %}
        <div class="temperature">
            {{ forecast.current.temperature }}&deg;C
        </div>

        <div class="currentTime">
            {{ "now"|date("H:i") }}
        </div>
    </div>
{% endblock %}
