{% extends "base.html.twig" %}

{% block title %}Screensaver{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/assets/css/weather.css">
    <link rel="stylesheet" href="/assets/css/screensaver.css?v={{ lastUpdate.css_screensaver }}">
    <script type="text/javascript" src="/assets/scripts/screensaver.js?v={{ lastUpdate.js_screensaver }}"></script>
    <script type="text/javascript">
        /** global: newsItems */
        var newsItems = [];
        {% for item in feedItems %}
            newsItems.push([
                "{{ item.site|striptags }}",
                "{{ item.title|striptags }}",
                "{{ item.description|truncate(120, true) }}"
            ]);
        {% endfor %}
    </script>
{% endblock %}

{% block body %}
    <div class="screenSaverPage">
        <div class="screenSaver active"></div>
        <div class="screenSaver layer2 notActive"></div>
        <div class="screensaverWeatherContent"></div>

        <div class="activeNewsItem hideOnStart">
            <div class="newsSource newsBar{{ firstFeedItem.site }} hideOnStart">
                {{ firstFeedItem.site }}
            </div>
            <div class="newsTitle hideOnStart">
                {{ firstFeedItem.title }}
            </div>
            <div class="newsDescription hideOnStart">
                {{ firstFeedItem.description }}
            </div>
        </div>
        <div class="currentTime hideOnStart">
            {{ "now"|date("H:i") }}
        </div>
    </div>
{% endblock %}
