{% extends "base.html.twig" %}

{% block title %}Screensaver{% endblock %}

{% block header %}
    <script type="text/javascript">
        /** global: newsItems */
        var newsItems = [];
        {% for item in feedItems %}
            newsItems.push([
                "{{ item.feedid }}",
                "{{ item.title|striptags }}",
                "{{ item.description|truncate(120, true) }}"
            ]);
        {% endfor %}
    </script>
{% endblock %}

{% block body %}
    <div class="screenSaverPage">
        <div class="screenSaver notActive"></div>
        <div class="screenSaver active"></div>
        <div class="screensaverWeatherContent wow rollIn"></div>

        <div class="activeNewsItem hideOnStart">
            <div class="newsSource newsBar{{ firstFeedItem.feedid }} hidden">
                {{ firstFeedItem.feedid }}
            </div>
            <div class="newsTitle hideOnStart">
                {{ firstFeedItem.title }}
            </div>
            <div class="newsDescription hideOnStart">
                {{ firstFeedItem.description }}
            </div>
        </div>
        <div class="currentTime hideOnStart">
            {{ "now"|date("H:i") }}
        </div>
    </div>
{% endblock %}
