<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/dist/css/vendor.css?v={{ lastUpdate.css_main }}">
    <link rel="stylesheet" href="/dist/css/style.css?v={{ lastUpdate.css_main }}">
    <link rel="manifest" href="/manifest.json">
    {% block header %}{% endblock %}
</head>
<body id="{{ bodyId }}" data-refresh-date="{{ "now"|date('Y-m-d H:i:s') }}">
{% block body %}
{% endblock %}
<script src="/dist/js/vendor.min.js"></script>
<script src="/dist/js/app.min.js?v={{ lastUpdate.js_main }}"></script>
</body>
</html>
