<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/dist/css/vendor.css?v={{ lastUpdate.css_main }}">
    <link rel="stylesheet" href="/dist/css/style.css?v={{ lastUpdate.css_main }}">
    {% block header %}{% endblock %}

    {% if feed is defined %}
    <style type="text/css">
        {% for feed in feeds %}
        .feed{{ feed.id }} {border-left-color: #{{ feed.color }};}
        {% endfor %}
    </style>
    {% endif %}
</head>
<body id="{{ bodyId }}" data-refresh-date="{{ "now"|date('Y-m-d H:i:s') }}">
{% block body %}
{% endblock %}
<script src="/dist/js/vendor.min.js"></script>
<script src="/dist/js/app.min.js?v={{ lastUpdate.js_main }}"></script>
</body>
</html>
