{% extends 'base.html.twig' %}

{% block body %}
    <div class="welcomePageBackground"></div>
    <div class="welcomePage">
        <div class="weatherContent">
            Loading weatherinfo...
        </div>

        <div class="noteArea">
            <textarea class="note" data-id="{{ note.id }}" data-position="{{ note.position }}">{{ note.note }}</textarea>
        </div>

        <div class="feedCounter">
            {% for item in feedItemTotals %}
                <div class="feedCounterItem">{{ item.site }}: <span class="itemCount">{{ item.count }}</span></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
