{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/assets/css/weather.css">
    <div class="welcomePage">
        <h1>Welkom</h1>
        <div id="weatherIcon">
            <div class="icon sun-shower">
                <div class="cloud"></div>
                <div class="sun">
                    <div class="rays"></div>
                </div>
                <div class="rain"></div>
            </div>
        </div>

        <p>The weather currently is {{ forecast.today.type }}, with a tempature of {{ forecast.temp }}&deg;C.<br />
        The maximum will be {{ forecast.temp_max }}&deg;C with a low of: {{ forecast.temp_min }}&deg;C</p>

        {% if forecast.tomorrow.type != 0 %}
            <p>Tomorrow the weather will be: {{ forecast.tomorrow.description }}</p>
        {% endif %}
    </div>
{% endblock %}
