{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/assets/css/weather.css">
    <div class="welcomePage">
        <h1>Welcome!</h1>
        <div id="weatherIcon">

            {% if 'drizzle' in forecast.today.type|lower %}
                <div class="icon sun-shower">
                    <div class="cloud"></div>
                    <div class="sun">
                        {% if "now"|date("H") < 20 and "now"|date("H") > 6 %}<div class="rays"></div>{% endif %}
                    </div>
                    <div class="rain"></div>
                </div>
            {% endif %}

            {% if 'thunderstorm' in forecast.today.type|lower %}
                <div class="icon thunder-storm">
                    <div class="cloud"></div>
                    <div class="lightning">
                        <div class="bolt"></div>
                        <div class="bolt"></div>
                    </div>
                </div>
            {% endif %}

            {% if 'rain' in forecast.today.type|lower %}
                <div class="icon rainy">
                    <div class="cloud"></div>
                    <div class="rain"></div>
                </div>
            {% endif %}

            {% if 'snow' in forecast.today.type|lower %}
                <div class="icon flurries">
                    <div class="cloud"></div>
                    <div class="snow">
                        <div class="flake"></div>
                        <div class="flake"></div>
                    </div>
                </div>
            {% endif %}

            {% if 'clear' in forecast.today.type|lower %}
                <div class="icon sunny">
                    <div class="sun">
                        {% if "now"|date("H") < 20 and "now"|date("H") > 6 %}<div class="rays"></div>{% endif %}
                    </div>
                </div>
            {% endif %}

            {% if 'clouds' in forecast.today.type|lower or 'mist' in forecast.today.type|lower %}
                <div class="icon cloudy">
                    <div class="cloud"></div>
                    <div class="cloud"></div>
                </div>
            {% endif %}
        </div>

        <div class="tempLarge">
            {{ forecast.temp }}&deg;C
        </div>

        <p>The weather currently is {{ forecast.today.type }}, with a tempature of {{ forecast.temp }}&deg;C.<br />
        The maximum will be {{ forecast.temp_max }}&deg;C with a low of: {{ forecast.temp_min }}&deg;C</p>

        {% if forecast.tomorrow.type != 0 %}
            <p>Tomorrow the weather will be: {{ forecast.tomorrow.description }}</p>
        {% endif %}
    </div>
{% endblock %}
