{% set values = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']%}

<div class="form">
    <h1>Add RSS Feed</h1>
    <p>
        <input type="text" name="url" value="" placeholder="Insert RSS feed url" /><br />
        or
        <input type="text" name="website" value="" placeholder="Insert website url" /><br />

        <input type="text" name="icon" value="" placeholder="FontAwesome icon (optional)" /><br />
        <input type="checkbox" name="autoPin" value="1" id="autoPin"/><label for="autoPin">Automaticly pin new items</label><br />
        <input type="text" name="color" value="#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}" placeholder="Insert RGB without the #" id="spectrum" /><br />
        <input type="submit" value="Add" class="js-settings-add-feed" />
    </p>
</div>

{% if userFeeds is not empty %}
    <table>
        <tbody>
        {% for feed in userFeeds %}
            {% set amount = feed.items|length %}

            <tr data-feed-id="{{ feed.id }}" data-feed-name="{{ feed.feed.name }}">
                <td class="feedColor">
                    <span style="background-color:{{ feed.color }};"></span>
                </td>
                <td class="feedName">
                    {{ feed.feed.name }}
                </td>
                <td class="feedIcon">
                    <input class="js-update-auto-pin" type="checkbox" value="1" {% if feed.autoPin %}checked="checked"{% endif %}/>
                </td>
                <td class="feedIcon">
                    <span class="fa fa-{{ feed.icon }}"></span>
                </td>
                <td class="feedAmount">
                    {{ amount }}
                </td>
                <td class="feedActions">
                    {# <button class="fa fa-edit"></button> #}
                    <button class="js-settings-remove-feed fa fa-trash"></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Add your first RSS Feed to have it listed here</p>
{% endif %}
