{% extends "base.html.twig" %}
{% set hour = "now"|date("H") %}

{% block title %}Feednews.me{% endblock %}

{% block body %}
    <header class="header--bar js-toggle-fullscreen hide-if-mobile">
        <div class="header--bar-site  wow slideInLeft">
            <div class="title">
                <a href="/" class="title--back noselect js-return"><span class="fa fa-chevron-circle-left"></span></a>
                <a href="/" class="js-reload-page"><b>FEEDNEWS</b><em>.me</em></a>
            </div>
        </div>
        <div class="header--bar-actions wow slideInRight">

            {% if not device.isMobile %}
                <div class="js-update-weather-icon header--bar-weather-icon">{% include 'weather/icon.html.twig' %}</div>
                <div class="js-show-weather-radar header--bar-weather-radar"><img class="js-weather-radar" src="https://api.buienradar.nl/image/1.0/RadarMapNL?w=500&h=512" /></div>
            {% endif %}

            <span class="js-open-new-window fa fa-external-link-alt fa-x4"></span>
            <span class="js-copy-to-clipboard fa fa-share-square fa-x4" data-clipboard-action="copy" data-clipboard-text="#"></span>

            <span class="fa fa-inbox js-toggle hide-if-mobile" data-toggle-element=".screenshot-list"></span>
            <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4 hide-if-mobile"></span>
            <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file fa-x4 hide-if-mobile"></span>

            <span data-url="/settings/" class="js-open-url fa fa-cog fa-x4 hide-if-mobile"></span>
            <div class="action-search--wrapper hide-if-mobile">
                <input class="js-search-feed" type="text" name="q" placeholder="Search feeds or add items to checklist" autocomplete="off" />
                <div style="display: none;" class="js-search-list feed-list feed-list--type-search"></div>
            </div>
            <div style="display: none;" class="screenshot-list js-screenshot-list" data-target="/droplist/"></div>
        </div>
    </header>
    <section class="container">
        {% block content %}{% endblock %}

        <aside class="feed-list feed-list--type-sidebar wow fadeIn {% if device.isMobile and (hour > 21 or hour < 8) %}darkTheme{% endif %}">
            {% include 'home/newsfeed.html.twig' with {'feedItems': feedItems, 'addToChecklist': '', 'feeds': feeds} %}
        </aside>

        <div class="content">
            <div class="content-overlay"></div>

            <iframe class="content-frame" src="/welcome" sandbox="allow-scripts allow-same-origin allow-forms allow-popups
            allow-pointer-lock allow-modals"></iframe>
        </div>

        <div class="urlbar">
            <a href="/welcome/" target="_blank">/welcome/</a>
        </div>
    </section>

    <div class="mobile-search">
        <input type="search" placeholder="Search feeds" class="js-search-feed" autocomplete="off" />
    </div>
    <div style="display: none;" class="js-search-list feed-list feed-list--type-search hide-if-tablet hide-if-desktop mobile-search--results"></div>

    <footer class="footer--bar hide-if-tablet hide-if-desktop">
        <span data-modal-target=".js-form-feed" class="js-modal-trigger fa fa-file fa-x4"></span>
        <span data-url="/checklist/" class="js-open-url fa fa-check fa-x4"></span>
        <span class="fa fa-inbox js-open-url" data-url="/droplist/15"></span>
        <span data-modal-target=".js-mobile-search-button" class="js-visbility-toggle fa fa-search-plus fa-x4 hide-if-desktop hide-if-tablet" data-target=".mobile-search"></span>
    </footer>

    {% include 'modals/create.html.twig' %}

    {% verbatim %}
        <script id="js-search-result" type="text/x-handlebars-template">
            <div class="feed-list-item--state-button">Add "<b>{{query}}</b>" to checklist</div>
            {{#each results}}
                <div class="feed-list-item js-action-feed-list-click js-action-feed-list-swipe {{#if pinned}}feed-list-item--state-pinned{{/if}}"
                     data-url="{{url}}" data-share-id="{{shareId}}" style="border-left-color:#{{color}};">
                    <div class="pin" data-pin-id="{{id}}"></div>
                    <p class="title">{{title}}</p>
                    <p class="description">{{description}}</p>
                </div>
            {{/each}}
            <a href="/feed/search/0/{{query}}" class="feed-list-item jscroll-next">Next page</a>
        </script>
    {% endverbatim %}
{% endblock %}
