{% if addToChecklist != '' and nextPageNumber == 1 %}
    <div class="feed-list-item--state-button">
        Add "<b>{{ addToChecklist }}</b>" to checklist
    </div>
{% endif %}

{% for item in feedItems %}
    <div class="feed-list-item js-action-feed-list-click js-action-feed-list-swipe {% if not item.viewed %}feed-list-item--state-new{% endif %} {% if item.pinned %}feed-list-item--state-pinned{% endif %}"
         data-url="{{ item.url }}" style="border-left-color:#{{ item.color }};">
        <div class="pin" data-pin-id="{{ item.id }}"></div>
        <p class="title ">{{ item.title|striptags }}</p>
        <p class="description">{{ item.description|truncate(120, true) }}</p>
    </div>
{% endfor %}

{% if feedItems|length > 0 and nextPageNumber != 50000 %}
    <a href="/feed/page/{{ nextPageNumber }}" class="listItem jscroll-next">Next page</a>
{% endif %}
