<ul>
    {% for checklistItem in todos %}
        <li>
            <input class="js-checklist-item" type="checkbox" id="todo{{ checklistItem.id }}" data-database-id="{{ checklistItem.id }}" />
            <label for="todo{{ checklistItem.id }}">{{ checklistItem.item }}</label>
        </li>
    {% endfor %}
</ul>
{% if finished|length > 0 %}
    <h2>Done</h2>
    <ul class="done">

        {% for checklistItem in finished %}
            <li>
                <input class="js-checklist-item" type="checkbox" id="todo{{ checklistItem.id }}" data-database-id="{{ checklistItem.id }}" checked="checked" />
                <label for="todo{{ checklistItem.id }}">{{ checklistItem.item }}</label>
            </li>
        {% endfor %}
    </ul>
{% endif %}
