<div class="widget-note">
    <h2>Notes</h2>

    <div class="widget-note--notes-list">
        {% for note in notes %}
            <span class="js-open-note note-selector-{{ note.id }}" data-note-id="{{ note.id }}">{{ note.name }}</span>
        {% endfor %}
        <span class="js-open-note fa fa-plus-circle note-selector-new" data-note-id="new"></span>
    </div>

    <div class="widget-note--notes">
        {% for note in notes %}
            <div class="note-data-{{ note.id }}">
                <input type="text" name="name" value="{{ note.name }}" />
                <textarea class="widget-note--input" data-id="{{ note.id }}" data-position="{{ note.position }}">{{ note.content }}</textarea>
                <button class="widget-note--remove js-remove-note" data-id="{{ note.id }}">Remove note</button>
            </div>
        {% endfor %}

        <div class="note-data-new">
            <input type="text" name="name" value="{{ "now"|date("Y-m-d H:i") }}" />
            <textarea class="widget-note--input" data-id="" data-position=""></textarea>
        </div>
    </div>
</div>
