{% set isAdmin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}FeedNews{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css') }}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Read the news as it happens from different sources, watch YouTube and manage your todo's all in one place! Join us now on your Desktop, Tablet and phone">
    <meta name="keywords" content="online rss reader, feed, news">
    <meta name="theme-color" content="#f5f5f5">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block header %}{% endblock %}
</head>
<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %}" data-refresh-date="{{ "now"|date('Y-m-d H:i:s') }}">
{% block body %}
{% endblock %}
{% include 'modals/dialog.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('vendor') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
